
html {
    height: 100%;
}

* {
    box-sizing: border-box;
  }
  
  header {
    background-color: #ffffff;
    padding: 0px ;
    width:auto;
}

.logo {
    flex: 1;
  }

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-family: Cairo; 
}

.nav-links li {
    font-size: 12px;
    font-family: Cairo;
}
.nav-links li ~ li {
    margin-left: 30px;
}

.nav-links a {
    width: 700px;
    height: 38px;
    flex-shrink: 0;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-family: Cairo;
    font-weight: 700;
}


.nav-links a:hover {
    color: #ff1900;
}

  body {
    font-family: Cairo;
    background-image: url('images/NumTicketPoster_4.png');
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    padding: 50px;
    width: 40%;
  }

  .movposter {
    display: flex;
    width: 100%;
    height: 800px;
    border-radius: 67px;
    background-image: url('images/movposter.jpg');
    box-shadow: 0px 4px 40px 40px rgba(0, 0, 0, 0.60);
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.movposter:hover {
  filter: grayscale(80%);
}

/* "Watch Trailer" button styles */
.movposter .watch-trailer-button {
  display: flex;
    width: 100%;
    height: 800px;
    border-radius: 67px;
}

/* Show the "Watch Trailer" button on hover */
.movposter:hover .watch-trailer-button {
  display: flex;
  width: 100%;
    height: 800px;
    border-radius: 67px;
}

.movposter .movie-link {
  opacity: 0;
  transition: .5s ease;
  display: flex;
  top: 400px;
  width: 100%;
  height: 100%;
  border-radius: 67px;
  color: white;
  font-family: Cairo;
  font-size: 30px;
  padding: 335px 112px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Show the "Watch Trailer" button on hover */
.movposter:hover .movie-link {
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  top: 400px;
  width: 100%;
  height: 100%;
  border-radius: 67px;
  color: white;
  font-family: Cairo;
  font-size: 30px;
  padding: 335px 112px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}


  /* Right column */
  .rightcolumn {
    float: left;
    width: 60%;
    padding: 0px;
    width: 66%;
    
  }

  .availableseat {
    width: 60%;
    top: 23px;
    left: 599px;
    font-family: Cairo;
    display: inline-block;
    border-radius: 19px;
    border: 2px solid #000000;
    box-shadow: 0px 4px 17px 11px rgba(255, 255, 255, 0.5);
    font-family: Cairo;
    font-size: 14px;
  }


  .subhead {
    font-size: 30px;
    font-weight: bold;
  }

  .inQuantity {
    margin: 2px;
  }

  .qtyinput {
    width: 180px;
    height: 26px;
    border: 2px solid #ffffff; 
    border-radius: 9px;
    padding: 3px;
    font-family: Cairo;
    font-size: 14px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }

  .qtybutton {
    width: 8%;
    font-family: Cairo;
    font-size: 19px;
    display: inline-block;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(255, 12, 12, 0);
    color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
  }

.rightcolumn .tixbutton {
  width: 80%;
  top: 500px;
  left: 599px;
  font-family: Cairo;
  font-size: 20px;
  display: inline-block;
  padding: 0px;
  margin: 0% 10%;
  border-radius: 110px;
  background: #590000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
}

.rightcolumn .tixbutton:hover {
  font-family: Cairo;
  background-color: #f7f7f7;
  color: #000000;
}

.rightcolumn .movinfo {
  font-family: Cairo;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.rightcolumn .availableseat {
  margin: 0px 366px;
  margin-top: 48%;
  top: 380px;
  left: 560px;
  font-family: Cairo;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 95%;
}
    
  /* Clear floats after the columns */
.row::after {
 content: "";
 display: table;
 clear: both;
}


footer {
    font-family: Cairo;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    background-color:#230000;
    color: #0c0c0c;
    margin-top: auto;
}

/* Terms and Condition | Privacy */
.TCP {
    list-style-type: none;
    display: flex;
    font-family: Cairo;
    color: #ffffff;
}

.TCP li {
    font-size: 11px;
    font-family: Cairo;
}

.TCP a {
    flex-shrink: 0;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-family: Cairo;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 99%;
  }
  
































  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }

    header {
      background-color: #FFF;
      padding: 12px ;
      width:auto;
  }
  .nav-links {
      display: none; /* Hide the navigation links on smaller screens */
      flex-direction: column;
      background-color: black;
      position: absolute;
      top: 100%;
      left:-100%;
      width: 80%;
      padding: 20px;
      transition: 0.3s ease-in-out;
  }

  .nav-links.active {
      left: 0;
  }

  .nav-links li {
      margin: 10px 30px;
  }

  .hamburger-menu {
      display: block;
      cursor: pointer;
  }
  .cta-button {
      font-size: 14px;
      padding: 6px 14px;
      width: auto;
  }

  .text-container {
      display: flex;
      justify-content: space-between;
      width: auto;
    }
    .text{
      font-size: 1.15rem;
      margin-top: var(--space--top);
      line-height: 1rem;
      
      
  }
  .footer{
      flex: 1;
  }
  .text p{
      font-size: 1.15rem;
      margin-top: var(--space--top);
      line-height: 1rem;
  }
  .hamburger-menu {
      display: grid;
  }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }

    .hamburger-menu {
      display: none; /* Hide the hamburger menu toggle on larger screens */
    }
    .logo {
        margin-left: 50px;
      }
      .nav-links {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-family: Cairo;
        margin-right: 30px;
        
    }
  }