* {
    box-sizing: border-box;
  }
  
   /* Header/Blog Title */
   header {
    background-color: #fff;
    padding: 12px ;
    width: auto;
    z-index: 999;
  }

  body {
    font-family: Cairo;
    background-image: url('img/movbg.png');
    background-color: #fff;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
    margin: 0;
    z-index: 2;
  }
  
  footer {
    font-family: Cairo;
    font-size: 16px;
    text-align: center;
    padding: 3px;
    background-color: #230000;
    color: #fff;
}

.TCP {
    list-style-type: none;
    display: flex;
    font-family: Cairo;
    color: #fff;
}

.TCP li {
    font-size: 18px;
    font-family: Cairo;
}

.TCP a {
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    transition: color 0.3s;
    font-family: Cairo;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 99%;
  }
  
  header .logo {
    flex: 1;
  }

  header nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    header .nav-links {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-family: Cairo; 
        float:right
    }

    header .nav-links li {
        font-size: 18px;
        font-family: Cairo;
    }

    header .nav-links li ~ li {
        margin-left: 30px;
    }

    header .nav-links a {
        width: 106px;
        height: 38px;
        flex-shrink: 0;
        text-decoration: none;
        color: black;
        transition: color 0.3s;
        font-family: Cairo;
        font-weight: 700;
    }

    header .nav-links a:hover {
        color: #ff1900;
    }
  
  header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    float: right;
    margin: 40px 40px 0px 0px;

  }
  
    .topnav .backcont {
        width: 100%;
    }

    .topnav .backbutton{
        width: 1px;
        object-fit: contain;
    }

    .topnav .backbutton:hover {
        filter: grayscale(100%);
    }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    padding: 50px;
    width: 40%;
  }

  .movposter {
    display: flex;
    width: 100%;
    height: 800px;
    border-radius: 67px;
    background-image: url('img/movposter.jpg');
    box-shadow: 0px 4px 40px 40px rgba(0, 0, 0, 0.60);
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.movposter:hover {
  filter: grayscale(80%);
}

/* "Watch Trailer" button styles */
.movposter .watch-trailer-button {
  display: flex;
    width: 100%;
    height: 800px;
    border-radius: 67px;
}

/* Show the "Watch Trailer" button on hover */
.movposter:hover .watch-trailer-button {
  display: flex;
  width: 100%;
    height: 800px;
    border-radius: 67px;
}

.movposter .movie-link {
  opacity: 0;
  transition: .5s ease;
  display: flex;
  top: 400px;
  width: 100%;
  height: 100%;
  border-radius: 67px;
  color: white;
  font-family: Cairo;
  font-size: 30px;
  padding: 335px 112px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* Show the "Watch Trailer" button on hover */
.movposter:hover .movie-link {
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  top: 400px;
  width: 100%;
  height: 100%;
  border-radius: 67px;
  color: white;
  font-family: Cairo;
  font-size: 30px;
  padding: 335px 112px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

  /* Right column */
  .rightcolumn {
    float: left;
    width: 60%;
    padding: 0px;
  }

  .availableseat {
    width: 80%;
    top: 380px;
    left: 595px;
    font-family: Cairo;
    display: inline-block;
    padding: 0px;
    margin: 20px 0px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 3px solid #590000;
    color: #590000;
    box-shadow: 0px 4px 17px 11px rgba(0, 0, 0, 0.50);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    font-family: Cairo;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }

  .subhead {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
  }

  .inQuantity {
    margin: 18px;
  }

  .qtyinput {
    width: 200px;
    height: 30px;
    border: 2px solid #590000; 
    border-radius: 5px;
    padding: 5px;
    font-family: Cairo;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #590000;
  }

  .qtybutton {
    width: 10%;
    font-family: Cairo;
    font-size: 24px;
    display: inline-block;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    color: #590000;
    text-shadow: 0px 4px 17px 11px rgba(0, 0, 0, 0.50); 
    border-radius: 50px;
    font-weight: bold;
  }

.rightcolumn .tixbutton {
  width: 80%;
  top: 380px;
  left: 595px;
  font-family: Cairo;
  font-size: 24px;
  display: inline-block;
  padding: 0px;
  margin: 0% 10%;
  border-radius: 110px;
  background: #590000;
  color: #fff;
  box-shadow: 0px 4px 17px 11px rgba(0, 0, 0, 0.50);
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
}

.rightcolumn .tixbutton:hover {
  font-family: Cairo;
  background-color: #230000;
  color: #4e4e4e;
}

.rightcolumn .movinfo {
  font-family: Cairo;
  font-weight: 400;
  color: #590000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.rightcolumn .availableseat {
  margin: 2% 10%;
  top: 240px;
  left: 558px;
  font-family: Cairo;
  font-weight: 400;
  color: #590000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
    
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }

    header {
      background-color: #FFF;
      padding: 12px ;
      width:auto;
  }
  .nav-links {
      display: none; /* Hide the navigation links on smaller screens */
      flex-direction: column;
      background-color: black;
      position: absolute;
      top: 100%;
      left:-100%;
      width: 80%;
      padding: 20px;
      transition: 0.3s ease-in-out;
  }

  .nav-links.active {
      left: 0;
  }

  .nav-links li {
      margin: 10px 30px;
  }

  .hamburger-menu {
      display: block;
      cursor: pointer;
  }
  .cta-button {
      font-size: 14px;
      padding: 6px 14px;
      width: auto;
  }

  .text-container {
      display: flex;
      justify-content: space-between;
      width: auto;
    }
    .text{
      font-size: 1.15rem;
      margin-top: var(--space--top);
      line-height: 1rem;
      
      
  }
  .footer{
      flex: 1;
  }
  .text p{
      font-size: 1.15rem;
      margin-top: var(--space--top);
      line-height: 1rem;
  }
  .hamburger-menu {
      display: grid;
  }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }

    .hamburger-menu {
      display: none; /* Hide the hamburger menu toggle on larger screens */
    }
    .logo {
        margin-left: 50px;
      }
      .nav-links {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-family: Cairo;
        margin-right: 30px;
        
    }
  }