
html {
    height: 100%;
}


header {
    background-color: #000000;
    
    width:auto;
}

.logo {
    flex: 1;
  }

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-family: Cairo; 
}

.nav-links li {
    font-size: 12px;
    font-family: Cairo;
}
.nav-links li ~ li {
    margin-left: 30px;
}

.nav-links a {
    width: 700px;
    height: 38px;
    flex-shrink: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    font-family: Cairo;
    font-weight: 700;
}


.nav-links a:hover {
    color: #ff1900;
}
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #230000;
}


.middle {
    text-align: center;
    color:#230000;
}



/* Footer styles */
footer {
    font-family: Cairo;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    background-color: #000000;
    color: #000000;
    margin-top: auto;
}
/* Terms and Condition | Privacy */
.TCP {
    list-style-type: none;
    display: flex;
    font-family: Cairo;
    color: #ffffff;
}

.TCP li {
    font-size: 11px;
    font-family: Cairo;
}

.TCP a {
    flex-shrink: 0;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-family: Cairo;
}

/*END*/

::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track{
    background:#000000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#fbfbfb, #000000);
    border-radius: 26px;
    height: 12%;

}


.text-container {
    display: flex;
    justify-content: space-between;
    width: 99%;
  }

  /* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}
/* Styles for mobile screens */
@media (max-width: 767px) {
    header {
        background-color: #FFF;
        padding: 12px ;
        width:auto;
    }
    .nav-links {
        display: none; /* Hide the navigation links on smaller screens */
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 100%;
        left:-100%;
        width: 80%;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 10px 30px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .cta-button {
        font-size: 14px;
        padding: 6px 14px;
        width: auto;
    }

    .text-container {
        display: flex;
        justify-content: space-between;
        width: auto;
      }
      .text{
        font-size: 1.15rem;
        margin-top: var(--space--top);
        line-height: 1rem;
        
        
    }
    .footer{

        margin-top:auto
        
    }
    .text p{
        font-size: 1.15rem;
        margin-top: var(--space--top);
        line-height: 1rem;
    }
    

      
}

/* Styles for desktop screens */
@media (min-width: 768px) {
    .hamburger-menu {
        display: none; /* Hide the hamburger menu toggle on larger screens */
    }
    .logo {
        margin-left: 50px;
      }
      .nav-links {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-family: Cairo;
        margin-right: 30px;
        
    }
} 



