header {
    background-color: #fff;
    padding: 12px ;
    width:auto;
}

.logo {
    flex: 1;
  }

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-family: Cairo; 
}

.nav-links li {
    font-size: 18px;
    font-family: Cairo;
}
.nav-links li ~ li {
    margin-left: 30px;
}

.nav-links a {
    width: 106px;
    height: 38px;
    flex-shrink: 0;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    font-family: Cairo;
    font-weight: 700;
}


.nav-links a:hover {
    color: #ff1900;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('../MovieTimings/images/movbg.png');
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
}
.backbutton{
    position: absolute;
    align-items: right;
    width: 1px;
    left: 1300px;
    object-fit: contain;
}

.backbutton:hover {
    filter: grayscale(100%);
}
.poster {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.middle {
    text-align: center;
    color: #fff;
}

.middle h1 {

    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.middle p {
    color: #FFF;
    text-align: center center;
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
    .movposter {
    border-radius: 20px;
    background: url('../MovInfPage/img/movposter.jpg'), lightgray 1.93px 0.175px / 100.379% 99.972% no-repeat;
    box-shadow: 0px 4px 250px 100px rgba(0, 0, 0, 0.60);
}
.button.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    font-weight: 400;
}

.button{
    margin: 0 10px; /* Adjust the margin as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    
    background-color: #590000;
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

button.container a{
    color: white;
    font-weight: 400;
}
.button.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-weight: 400;
}

.button1{
    margin: 0 10px; /* Adjust the margin as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    background-color: #590000;
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}
.text{
    font-size: 1.15rem;
    margin-top: var(--space--top);
    line-height: .5rem;
    
    
}
.text p{
    font-size: 1.15rem;
    margin-top: var(--space--top);
    line-height: .5rem;
}
.cta-button {
    font-family: Cairo;
    display: inline-block;
    padding: 0px;
    width: 400px;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    font-family: Cairo;
    background-color: #230000;
    color: #fff;
}

/* Footer styles */
footer {
    font-family: Cairo;
    font-size: 16px;
    text-align: center;
    padding: 3px;
    background-color: #230000;
    color: #fff;
}
.TCP {
    list-style-type: none;
    display: flex;
    font-family: Cairo;
    color: #fff;
}
.TCP li {
    font-size: 18px;
    font-family: Cairo;
}

.TCP a {
    flex-shrink: 0;
    text-decoration: none;
    color: #FFF;
    transition: color 0.3s;
    font-family: Cairo;
}
.text-container {
    display: flex;
    justify-content: space-between;
    width: 99%;
  }

  .hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

  /* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}
/* Styles for mobile screens */
@media (max-width: 767px) {
    header {
        background-color: #FFF;
        padding: 12px ;
        width:auto;
    }
    .nav-links {
        display: none; /* Hide the navigation links on smaller screens */
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 100%;
        left:-100%;
        width: 80%;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 10px 30px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .cta-button {
        font-size: 14px;
        padding: 6px 14px;
        width: auto;
    }

    .text-container {
        display: flex;
        justify-content: space-between;
        width: auto;
      }
      .text{
        font-size: 1.15rem;
        margin-top: var(--space--top);
        line-height: 1rem;
        
        
    }
    .footer{
        flex: 1;
    }
    .text p{
        font-size: 1.15rem;
        margin-top: var(--space--top);
        line-height: 1rem;
    }
    .hamburger-menu {
        display: grid;
    }

      
}

/* Styles for desktop screens */
@media (min-width: 768px) {
    .hamburger-menu {
        display: none; /* Hide the hamburger menu toggle on larger screens */
    }
    .logo {
        margin-left: 50px;
      }
      .nav-links {
        list-style-type: none;
        display: flex;
        gap: 20px;
        font-family: Cairo;
        margin-right: 30px;
        
    }
} 



